<%- include('partials/header') %>

  <body>
    <div class="container-fluid">
      <form action="">
        <div class ="mb-3">
          <label for="integer" class="form-label">Integer</label>
          <input type ="text" class="form-control" id="name">
        </div>
        <button class="btn btn-primary" type="submit">
          SIMPAN
        </button>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>String</th>
            <th>Integer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bambang</td>
            <td>17</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

  <%- include('partials/footer') %>