body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tes{
  background-color: black;
}

.d-flex .btn btn-outline-primary{
  height: 20px;
}


.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(238, 237, 237);
  color: black;
  
  
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #2574A9;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: black;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574A9;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}



.content-container {
  padding-left: 220px;
}

.container-issue{
  height: 150px;
  width: 100%;
  background-color: #fff;
  border: 1px solid black;
  
  
}

.container-issue h4 {
  margin-left: 15px;
  margin-top: 25px;
}

.container-issues{
  height: 140px;
  width: 100%;
  background-color: #fff;
  border: 1px solid black;
  margin-top: 50px;
  
}

.container-issues h4 {
  margin-left: 15px;
  margin-top: 25px;
}